@model IEnumerable<GreenOut.Models.Product>

@{
    ViewData["Title"] = "Store";

}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to the GreenOut Store</h1>
        <p>Adventure Awaits, Nature Thanks You.</p>
    </div>
</div>


<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 box-shadow ">
                        <img class="card-img-top" data-src="@item.ImageURL" alt="Thumbnail [100%x225]" src="@item.ImageURL" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text"> @Html.DisplayFor(modelItem => item.Name)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#_@item.ProductID">
                                        Details
                                    </button>
                                    <a type="button" class="btn btn-sm btn-outline-primary border-2" asp-route-id="@item.ProductID" asp-action="AddToCart" asp-controller="Account"><i class="bi bi-cart4 fs-5 text-black"></i></a>
                                </div>
                                <strong class="text-muted">R @Html.DisplayFor(modelItem=>item.Price)</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="_@item.ProductID" tabindex="-1" aria-labelledby="productDetails" aria-hidden="true">
                    <div class="modal-lg modal-dialog modal-dialog-centered ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalTitle"> @Html.DisplayFor(modelItem => item.Name)</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex flex-column">
                                @Html.Partial("Detail",item)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a type="button" class="btn btn-sm btn-outline-primary border-2" asp-route-id="@item.ProductID" asp-action="AddToCart" asp-controller="Account"><i class="bi bi-cart4 fs-5 text-black"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
          </div>
        </div>
</div>


